.section {
  margin-bottom: 2rem;
  padding: 5rem 0;
}

.section_area {
  margin: 0 auto;
  width: 1280px;
}

.pop_title, .new_title {
  margin-bottom: 3rem;
  font-size: 2.0rem;
  text-align: center;
}

.pop_wrap, .new_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pop_box, .new_box {
  margin-bottom: .5rem;
  padding: 2.5rem;
  width: 40%;
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pop_box img, .new_box img {
  display: block;
  width: 60%;
  height: auto;
  float: left;
  margin-right: 1.5rem;
}

.site-header {
  z-index: 999;
}
